#cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.card {
  flex: 7% 1 1; /* 每個 item 分配容器寬度，希望一排放13張 所以100/13=7.7 */
  /* 依序：flex-basis：分配寬度 flex-grow：分配剩餘空間 flex-shrink：空間不足如何收縮 */
  /* flex-grow: 0 不要分配剩餘空間； 1 代表平分；若是 2 代表中間佔用的空間會是右邊的兩倍*/
  /* flex-shrink: 1 讓元素等比例收縮 ; 如果設定比 1 更高的數字，代表我們要深入控制每個元素的收縮比例。*/
  
  height: 8vw; /* 依視窗的寬度等比例變化，mean:佔視窗的 8% */
  border: 2px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 2px;
  box-sizing: border-box;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 10px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0c3;
}

#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}
@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}